[Unit]
Description=Sky-Net v2 VPN Panel
After=network.target docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/app
ExecStart=/app/snet-v2 run
Restart=always
RestartSec=5
Environment=SNET_BIN_FOLDER=/app
Environment=SNET_DB_FOLDER=/etc/snet

[Install]
WantedBy=multi-user.target
